* { 
	margin: 0px; 
	padding: 0px;
}

#box {
	width: 980px;
	height: 210px;
	margin: 0px auto;
	position: relative;
	overflow: hidden;
}

#box ul { 
	position: absolute;
	top: 0px;
	left: 0px;
	width: 9800px;
	z-index: 2;
}

#box a {
	cursor: pointer;
}


.img {
	float: left;
}

.banner-ico-box {
	position: absolute;
	left: 0px;
	bottom: 20px;
	width: 100%;
	text-align: center; 
	z-index: 4;
}
.banner-ico-box a {
	width: 10px;
	height: 10px;
	display: inline-block;
	background: url(../img/banner-btn.png) -16px -50px no-repeat; 
	margin-right: 8px;
}
.banner-ico-box .active {
	background: url(../img/banner-btn.png) -1px -50px no-repeat;
}
.banner-left-btn, .banner-right-btn { 
	z-index: 3;
	width: 50px;
	height: 50px;
	display: inline-block;
	position: absolute;
	top: 50%;
	margin-top: -25px;
}
.banner-left-btn {
	background: url(../img/banner-btn.png) 0px 0px no-repeat;
	left: 0px;
}
.banner-right-btn {
	background: url(../img/banner-btn.png) -50px 0px no-repeat;
	right: 0px;
}


