* {
    margin: 0px;
    padding: 0px;
}
#main {
    margin: 0px auto;
    width: 1224px;
    height: 630px;
    position: relative;
    overflow: hidden;
}

#imgwrap {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 99999px;
    height: 500px;
}

#imgwrap > img {
    float:left;
}

#navwrap {
    position: absolute;
    bottom: 0px;
    width: 1224px;
    height: 167px;
    cursor: pointer;
}

.nav {
    float: left;
    width: 204px;
    height: 167px;
}

.navpic {
    width: 204px;
    height: 162px;
    background-position: bottom right;
}

.nav0 .navpic {
    background-image:url(images/sbanner_00.png);
}

.nav1 .navpic {
    background-image:url(images/sbanner_01.png);
}

.nav2 .navpic {
    background-image:url(images/sbanner_02.png);
}

.nav3 .navpic {
    background-image:url(images/sbanner_03.png);
}

.nav4 .navpic {
    background-image:url(images/sbanner_04.png);
}

.nav5 .navpic {
    background-image:url(images/sbanner_05.png);
}

.prowrap {
    width:204px;
    height:5px;
}
.pro {
    height:5px;
    width:0px;
}
.nav0 .prowrap {
    background: #7b5596;
}
.nav0 .pro {
    background: #49047a;
}
.nav1 .prowrap {
    background: #83a2cc;
}
.nav1 .pro {
    background: #13478f;
}
.nav2 .prowrap {
    background: #e18e40;
}
.nav2 .pro {
    background: #b94e00;
}
.nav3 .prowrap {
    background: #47acab;
}
.nav3 .pro {
    background: #00605f;
}
.nav4 .prowrap {
    background: #c86c8c;
}
.nav4 .pro {
    background: #a41a4a;
}
.nav5 .prowrap {
    background: #9089d6;
}
.nav5 .pro {
    background: #4a419e;
}
